
body{margin:0px;}
select {background-color: #F7F7F2; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;  }
#main{width:950px; margin-right:auto; margin-left:auto;}
#top{height:85px; background-image:url(images/web_ui/top_back.jpg);  background-position:bottom; background-repeat:repeat-x;}



#main_heading{font-family: Verdana, Geneva, sans-serif; font-size:24px; color:#4ba706;  margin-top:8px;}




#text_paddind_right{ float:right; padding:6px; margin-top:0px; padding-bottom:0px;}



#singin{ margin-top:2px; margin-bottom:0px;}
#main{ margin-top:0px;}
#middle{  background-image:url(images/web_ui/middile_back.jpg); background-position:top; background-repeat:repeat-x; padding-top:15px; padding-left:10px;}
#Border_box{border:1px solid  #CFD0BB; padding:5px; background-color:#FFFFFF; background-image: url(images/web_ui/box_back.jpg); background-repeat:repeat-x; background-position:bottom; margin-right:10px; float:left;  }








#lable_box{ font-family: Verdana, Geneva, sans-serif; font-size:10px; color:#353535; float:left; font-weight:bold; width:450px;}
#lable_box1{ font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#353535; float:left; width:450px;width:100px; margin-left:100px;}
#lable_box2{ font-family: Verdana, Geneva, sans-serif; font-size:10px; color:#353535; float:left; font-weight:bold; }

#lable_box3{ font-family: Verdana, Geneva, sans-serif; margin-left:320px; font-size:10px; color:#353535; float:left; font-weight:bold;}

#lable_box4{ font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#353535; float:left; width:100px;}

#lable_box5{ font-family: Verdana, Geneva, sans-serif; margin-left:290px; font-size:10px; color:#353535; float:left; font-weight:bold;}







#lable_box_OrgSerach{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#353535; }


#Datagrid{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#353535; float:left; margin-top:-15px;}
#top_title{margin-bottom:4px;
    width: 149px;
    height: 1px;
}
#text_box{ width:150px; float:left; border: margin-bottom:10px; font-family:Verdana, Geneva, sans-serif; font-size:10px;}
#text_box_OrgSearch{ width:150px; float:left; margin-bottom:5px;}
#display_box{ width:150px; float:left; margin-bottom:3px; border:1px solid #F4F5F1; padding:2px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background-color: #FFFCF4;}

#text_box1{  font-family:Verdana, Geneva, sans-serif; font-size:10px;}


#button_box{ margin-left:99px;}
#button_box1{ margin-left:99px;}
#button_box2{ margin-left:99px; }
#button_box3{ margin-left:80px; margin-top:-10px;}

#button_box4{margin-left:10px;}
#button_box5{margin-left:99px;  margin-top:-0px; }
#button_box6{ margin-left:100px;}
#button_box7{ margin-left:99px; margin-top:-10px;}

#button_box8{margin-left:90px; margin-top:10px;}

.text_dark_ash{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#353535;}
.text_dark_blue{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1556B7;}




.text_lite_ash{ font-family: Verdana, Geneva, sans-serif; font-size:9px; color:#000000;}


.title_heading{ font-family: Verdana, Geneva, sans-serif; font-size:12px; color: #069; font-weight:bold;}
.textbox{font-family:Arial, Helvetica, sans-serif; font-size:12px; colo
.textbox{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; border:1px solid  #D8D7C7; background-color: #F7F7F2; padding:1px;
    margin-top: 4px;
    margin-bottom: 0px;
}
h:60px; height:20px; color:#000;}
.button_lg{   font-family: Verdana, Geneva, sans-serif; font-size:10px; width:80px; height:22px; color:#000; }
.button_lg1{   font-family: Verdana, Geneva, sans-serif; font-size:10px; width:110px; height:22px; color:#000; }
.title_bottom{color: #CFD0BB; height:1px; margin-top:7px;}

#addnew{ margin-top:-0px; float:right; margin-top:-3px;}
#addnew1{ float:right; margin-top:-2px;}
#addnew2{float:right; margin-top:-3px;}
#addnew3{ float:right;margin-top:-2px;}
.top_button{ margin-left:420px; margin-top:-15px;}
#text_box1{ width:150px; margin-left:40px; margin-bottom:5px; margin-top:-15px;}
#name{MARGIN-TOP: -10px; FLOAT: right;}
#test_box{ background-color:#ffffff;padding:2px;border:1px solid #900;margin-left:100px;margin-top:-40px;width:130px;height:15px;}
#test_box1{ background-color:#ffffff;border:1px solid #900;margin-left:100px;width:130px;height:15px;}
#test_box3{width:50px;}


.date{ font-family:Verdana, Geneva, sans-serif; font-size:10px; margin-left:10px;}


/*error*/
#error1{ margin-top:60px; margin-left:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px;color:#F00;}
.error2{ margin-top:100px; line-height:30px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}

.error4{ margin-top:100px; line-height:30px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
#error7{ margin-top:60px; margin-left:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#F00;}
#error9{ margin-top:60px; margin-left:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#F00;}
#error_box{width:40px; height:70px;}
#error_box1{width:40px; height:5px;}
#error_box2{}

#cp_error{font-family:Verdana, Geneva, sans-serif; font-size:10px; font-weight:bold;}

#cp_error2{font-family:Verdana, Geneva, sans-serif; font-size:10px; font-weight:bold; color:#F00; height:15px;}
#cp_error1{font-family:Verdana, Geneva, sans-serif; font-size:10px; font-weight:bold; color:#F00; }


#s_gap{ height:15px; margin-top:0px;}